@import "variables.scss";

@import "media-queries.scss";

@import "typography.scss";

@import "tabs.scss";

@import "lists.scss";

@import "common.scss";

@import "backgrounds.scss";

@import "templates/navigation.scss";

@import "templates/hero-area.scss";

@import "templates/category-slider.scss";

@import "templates/user-dashboard.scss";

@import "templates/homepage.scss";

@import "templates/category.scss";

@import "templates/products.scss";

@import "templates/widgets.scss";

@import "templates/header.scss";

@import "templates/call-to-action.scss";

@import "templates/store.scss";

@import "templates/store-single.scss";

@import "templates/blog.scss";

@import "templates/popup.scss";

@import "templates/ad-listing.scss";

@import "templates/ad-list-view.scss";

@import "templates/terms-condition.scss";

@import "templates/package.scss";

@import "templates/about-us.scss";

@import "templates/contact-us.scss";

@import "templates/404.scss";

@import "templates/footer.scss";
