<!-- Client Slider -->
<div class="category-slider">
  <!-- Client 01 -->
  <div class="item">
    <a href="store.html">
      <!-- Slider Image -->
      <i class="fa fa-bed"></i>
      <h4>Bed</h4>
    </a>
  </div>
  <div class="item">
    <a href="store.html">
      <!-- Slider Image -->
      <i class="fa fa-bed"></i>
      <h4>Hotels</h4>
    </a>
  </div>
  <div class="item">
    <a href="store.html">
      <!-- Slider Image -->
      <i class="fa fa-car"></i>
      <h4>Cars</h4>
    </a>
  </div>
  <div class="item">
    <a href="store.html">
      <!-- Slider Image -->
      <i class="fa fa-cutlery"></i>
      <h4>Restaurants</h4>
    </a>
  </div>
  <div class="item">
    <a href="store.html">
      <!-- Slider Image -->
      <i class="fa fa-mobile"></i>
      <h4>Automobile</h4>
    </a>
  </div>
  <div class="item">
    <a href="store.html">
      <!-- Slider Image -->
      <i class="fa fa-film"></i>
      <h4>Gym</h4>
    </a>
  </div>
  <!-- Client 01 -->
  <div class="item">
    <a href="store.html">
      <!-- Slider Image -->
      <i class="fa fa-paragraph"></i>
      <h4>Park</h4>
    </a>
  </div>
  <div class="item">
    <a href="store.html">
      <!-- Slider Image -->
      <i class="fa fa-play"></i>
      <h4>Play</h4>
    </a>
  </div>
  <div class="item">
    <a href="store.html">
      <!-- Slider Image -->
      <i class="fa fa-building"></i>
      <h4>Real Estate</h4>
    </a>
  </div>
  <div class="item">
    <a href="store.html">
      <!-- Slider Image -->
      <i class="fa fa-shopping-bag"></i>
      <h4>Shopping</h4>
    </a>
  </div>
  <div class="item">
    <a href="store.html">
      <!-- Slider Image -->
      <i class="fa fa-bed"></i>
      <h4>Electronics</h4>
    </a>
  </div>
  <div class="item">
    <a href="store.html">
      <!-- Slider Image -->
      <i class="fa fa-bed"></i>
      <h4>Health</h4>
    </a>
  </div>

</div>