<!--===============================
=            Hero Area            =
================================-->

<section class="hero-area-2 section bg-1 text-center">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- Hero Contents -->
				<div class="content-block">
					<h1>Best Deals & Coupons</h1>
					<p>We have 12569 offers from 6122 stores <br> Start saving now</p>
				</div>
			</div>
		</div>
		<!-- Advance Search -->
		<form action="#" class="row">
			<div class="col-md-6 offset-md-3">
				<!-- Coupon Search -->
				<div class="input-group coupon-ig">
				  <input type="text" class="form-control" placeholder="Search Store for Coupon, Deals..">
				  <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search"></i></span>
				</div>
			</div>
			<div class="col-md-6 offset-md-3">
				<!-- Category Search -->
	            <select class="select-box form-control" id="exampleSelect1">
	              <option selected disabled>Browse By Catergory</option>
	              <option>Appearel</option>
	              <option>Books</option>
	              <option>Personal Care</option>
	              <option>Education</option>
	              <option>Beverage</option>
	            </select>
			</div>
		</form>
	</div>
	<!-- Container End -->
</section>