<!--===================================
=            Popular Store            =
====================================-->

<section class="store-list section">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					<h2>Popular Stores</h2>
				</div>
				<div class="popular">
				<div class="row">
					<!-- Category list -->
					<div class="col-lg-3 col-md-6 col-6">
						<div class="store-list">
							<h4>Accesories</h4>
							<ul>
								<li><a href="store-single.html">Bikes & Scooters</a></li>
								<li><a href="store-single.html">Commercial Vehicles</a></li>
								<li><a href="store-single.html">Bicycles Spare Parts</a></li>
								<li><a href="store-single.html">Accessories</a></li>
								<li><a href="store-single.html">Other Vehicles</a></li>
							</ul>
						</div>
					</div>
					<!-- Category list -->
					<div class="col-lg-3 col-md-6 col-6">
						<div class="store-list">
							<h4>Baby</h4>
							<ul>
								<li><a href="store-single.html">Bikes & Scooters</a></li>
								<li><a href="store-single.html">Commercial Vehicles</a></li>
								<li><a href="store-single.html">Bicycles Spare Parts</a></li>
								<li><a href="store-single.html">Accessories</a></li>
								<li><a href="store-single.html">Other Vehicles</a></li>
							</ul>
						</div>
					</div>
					<!-- Category list -->
					<div class="col-lg-3 col-md-6 col-6">
						<div class="store-list">
							<h4>Books</h4>
							<ul>
								<li><a href="store-single.html">Bikes & Scooters</a></li>
								<li><a href="store-single.html">Commercial Vehicles</a></li>
								<li><a href="store-single.html">Bicycles Spare Parts</a></li>
								<li><a href="store-single.html">Accessories</a></li>
								<li><a href="store-single.html">Other Vehicles</a></li>
							</ul>
						</div>
					</div>
					<!-- Category list -->
					<div class="col-lg-3 col-md-6 col-6">
						<div class="store-list">
							<h4>Furniture</h4>
							<ul>
								<li><a href="store-single.html">Bikes & Scooters</a></li>
								<li><a href="store-single.html">Commercial Vehicles</a></li>
								<li><a href="store-single.html">Bicycles Spare Parts</a></li>
								<li><a href="store-single.html">Accessories</a></li>
								<li><a href="store-single.html">Other Vehicles
								</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- View more button -->
				<div class="col-12 text-center">
					<a href="store.html" class="btn btn-transparent">view all stores</a>	
				</div>
			</div>
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>