<!--==================================
=            Subscription            =
===================================-->

<section class="subscription section bg-2 overly">
	<!-- Container Start -->
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col-md-8">
				<!-- Contents -->
				<div class="content-block">
					<!-- Heading -->
					<h2>
						Get notified when new coupons are released
					</h2>
					<!-- Subscription Form -->
					<form action="#">
						<div class="form-group d-flex">
							<!-- Email Input -->
							<input type="email" class="form-control" placeholder="Email Addess here">
							<!-- Submit Button -->
							<button class="btn btn-main">
								notify me
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>